alembic==1.11.0
fastapi==0.110.0
fastapi-route-logger-middleware==0.2.3
pandas==2.2.1
psycopg2==2.9.6
pydantic==2.3.0
pydantic-settings==2.0.3
python-dotenv==1.0.0
sendgrid==6.10.0
sqlalchemy==2.0.13
sqlalchemy-pagination==0.0.2
typer[all]==0.9.0
uvicorn==0.22.0
